<h1>New book</h1>

					<%= form_for(book) do |f| %>
				<div class="field_row">
							<h4>title</h4>
						<div class="col-xs-12">
							<%= f.text_field :title %>
						</div>
							<h4>opinion</h4>
						<div class="col-xs-12">
							<%= f.text_area :body %>
						</div>
						<div class="col-xs-12">
							<%= f.submit 'Create Book' %>
						</div>
					<% end %>
				</div>