			<h1>User info</h1>
				<%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "user-image", fallback: "noimage.png" %>
				<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th><%= user.name %></th>
					</tr>
				</thead>
				</table>

				<table class="table">
				<thead>
					<tr>
						<th>introduction</th>
						<th><%= user.introduction %></th>
					</tr>
				</thead>
				</table>

				<%= link_to edit_user_path(user) do %>
					<button class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				    </button>
				<% end %>