/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 	*= require_self
 	*/
 	@import "bootstrap-sprockets";
 	@import "bootstrap";




container{
	width: 750px;
	margin: 0 auto;
}

.top-box{
	width: 750px;
	margin: 0 auto;
}

.top-box2{
	width: 550px;
	margin: 0 auto;
}

.top-text{
	width: 80%;
	margin: 0 auto;
	text-align: right;
}

.signup-box{
	width: 750px;
	margin: 0 auto;
}

.signup-box2{
	padding-bottom: 10px;
}

.login-box{
	width: 750px;
	margin: 0 auto;
}

.login-box2{
	padding-bottom: 10px;
}

.user-image{
	width: 100px;
	height: 100px;
}

.user-image2{
	width: 40px;
	height: 40px;
}

.user-show{
	font-size: 20px;
}

.user-show2{
	font-size: 24px;
}

.flash{
	width: 75%;
	margin: 0 auto;
	color: #008000;
}

.form-error{
	width: 75%;
	margin: 0 auto;
	color: #ff0000;
	font-size: 50px;
}